.tuvanphapluat {
  &__box1{
    min-height: 64px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  &__breadcrumb{
    &__overlay{
      opacity: 0.71;
      background: var(--path-to-image) lightgray -28.02px -194.32px / 103.88% 543.509% no-repeat;
      mix-blend-mode: soft-light;
    }
    >*{
      >*{
        @extend .fz-16;
      }
      &:nth-child(n+2){
        &:not(.uk-first-column){
          &:before{
            $x: 10px;
            margin: 0 #{$x};
          }
        }
      }
      &:last-child{
        >span{
          @extend .barlow-bold;
        }
      }
    }
  }
}