.vanbanphapluat {
  &__form{
    &__btnSelect{
      @extend .fz-16;
      @extend .text-484554;
      text-align: left;
      padding: 0 10px;
      position: relative;
    }
    &__input{
      @extend .fz-16;
      @extend .text-484554;
    }
    &__btnSubmit{

    }
  }
}