.header {
  &__top{
    $x:5px;
    padding-top: #{$x};
    padding-bottom: #{$x};
    background: var(--bg-header-2) no-repeat top left / 531px 124px,
    var(--bg-header-1) no-repeat top right / 642px 125px,
    #fff; /* Màu nền cuối cùng */
    &__logo{
      img{
        @include fluidx( 117px, 80px, width);
      }
    }
    &__subnav{
      >*{
        >*{
          &:first-child{
            @extend .fz-15;
            @extend .barlow-semibold;
            @extend .text-717171;
          }
        }
      }
    }
  }
  &__offcanvas{
    &__bar{
      padding-left: 0;
      padding-right: 0;
    }
    &__nav{
      .uk-nav-sub{
        padding-left: 0;
        >li{
          border-top: 1px solid #EDEDED;
          &:nth-child(n+2){

          }
          >a{
            @extend .fz-15;
            @extend .barlow-medium;
            @extend .text-555;
            padding: 8px 20px;
          }
        }
      }
      >li{
        &:nth-child(n+2){
          border-top: 1px solid #EDEDED;
        }
        >a{
          @extend .fz-16;
          //@extend .text-FFF;
          @extend .barlow-bold;
          //@extend .header__navbarContainer__item;
          padding: 8px 12px;
          &[aria-expanded="true"],
          &:hover{
            //color: #FFCB2A;
          }
        }
      }
    }
  }
  &__navbarContainer{
    &:not(.uk-navbar-transparent){
      background: #068BDB;
    }
    &__item{
      min-height: 54px;
    }
    &__searchIcon{
      color: #fff;
    }
    .uk-navbar-dropdown{
      padding: 0;
      border-top: 2px solid #FFCB2A;
    }
    .uk-navbar-dropdown-nav{
      >li{
        >a{
          @extend .fz-15;
          @extend .barlow-medium;
          @extend .text-555;
          padding: 10px 12px;
          &:hover{
            background: #E5E5E5;
          }
        }
      }
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .fz-16;
          @extend .text-FFF;
          @extend .barlow-bold;
          @extend .header__navbarContainer__item;
          &[aria-expanded="true"],
          &:hover{
            color: #FFCB2A;
          }
        }
        &.uk-active{
          >a{
            color: #FFCB2A;
          }
        }
      }
    }
  }
}