.header {
  &__top{
    $x:5px;
    padding-top: #{$x};
    padding-bottom: #{$x};
    background: var(--bg-header-2) no-repeat top left / 531px 124px,
    var(--bg-header-1) no-repeat top right / 642px 125px,
    #fff; /* Màu nền cuối cùng */
    &__logo{
      img{
        @include fluidx( 117px, 80px, width);
      }
    }
    &__subnav{
      >*{
        >*{
          &:first-child{
            @extend .fz-15;
            @extend .barlow-semibold;
            @extend .text-717171;
          }
        }
      }
    }
  }
  &__offcanvas{
    &__bar{
      padding-left: 0;
      padding-right: 0;
    }
    &__nav{
      .uk-nav-sub{
        padding-left: 0;
        >li{
          border-top: 1px solid #EDEDED;
          &:nth-child(n+2){

          }
          >a{
            @extend .fz-15;
            @extend .barlow-medium;
            @extend .text-555;
            padding: 8px 20px;
          }
        }
      }
      >li{
        &:nth-child(n+2){
          border-top: 1px solid #EDEDED;
        }
        >a{
          @extend .fz-16;
          //@extend .text-FFF;
          @extend .barlow-bold;
          //@extend .header__navbarContainer__item;
          padding: 8px 12px;
          &[aria-expanded="true"],
          &:hover{
            //color: #FFCB2A;
          }
        }
      }
    }
  }
  &__navbarContainer{
    &:not(.uk-navbar-transparent){
      background: #068BDB;
    }
    &__item{
      min-height: 54px;
    }
    &__searchIcon{
      color: #fff;
    }
    .uk-navbar-dropdown{
      padding: 0;
      border-top: 2px solid #FFCB2A;
    }
    .uk-nav{
      >li{
        &:nth-child(n+2){
          >a{
            &:after{
              content: '';
              display: block;
              width: calc(100% - 30px);
              height: 1px;
              background-color: #d2d2d2;
              opacity: .5;
              right: 15px;
              left: 15px;
              position: absolute;
              top: 0;
            }
          }
        }
        >a{
          &[aria-expanded="true"]{
            background: #E5E5E5;
          }
          &[aria-expanded]{
            &:before{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
              content: "";
              $x:15px;
              width: #{$x};
              height: #{$x};
              background-size: 100%;
              display: flex;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' aria-hidden='true'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E");
            }
          }
          @extend .fz-15;
          @extend .barlow-medium;
          @extend .text-555;
          padding: 10px 12px;
          position: relative;
          &:hover{
            background: #E5E5E5;
          }
        }
      }
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .fz-16;
          @extend .text-FFF;
          @extend .barlow-bold;
          @extend .header__navbarContainer__item;
          &[aria-expanded="true"],
          &:hover{
            color: #FFCB2A;
          }
        }
        &.uk-active{
          >a{
            color: #FFCB2A;
          }
        }
      }
    }
  }
}