$colors: (
        '000': #000,
        'FFF': #FFF,
        'C1E0FB': #C1E0FB,
        'F3FBFF': #F3FBFF,
        '068BDB': #068BDB,
        'F9F9F9': #F9F9F9,
        'D7EBFD': #D7EBFD,
);
@each $name,$value in $colors {
  .bg-#{$name} {
    background: $value;
  }
}

$colors: (
        'C1E0FB': #C1E0FB,
);
@each $name,$value in $colors {
  .bgc-#{$name} {
    background-color: $value;
  }
}