@mixin line-clamp($i){
  display: -webkit-box;
  -webkit-line-clamp: #{$i};
  -webkit-box-orient: vertical;
  overflow: hidden;
}
$j: 1,2,3,4,5;
@each $i in $j {
  .line-clamp-#{$i}{
    @include line-clamp($i);
  }
}

$colors: (
        '000': #000,
        'FFF': #FFF,
        '555': #555,
        'EDEDED': #EDEDED,
        '2756A6': #2756A6,
        'ED3037': #ED3037,
        '068BDB': #068BDB,
        '717171': #717171,
        '2D2D2D': #2D2D2D,
        'A1A3A5': #A1A3A5,
        '181818': #181818,
);
@each $name,$value in $colors {
  .text-#{$name} {
    color: rgba($value, 1);
  }
}